@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-item a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding-bottom: 3px;
}

.nav-item a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Underline thickness */
  background-color: white; /* Underline color */
  left: 0;
  bottom: 0;
  transition: width 0.3s ease;
}

.nav-item a:hover::after {
  width: 100%; /* Full width underline on hover */
}

@layer components {
  .perspective {
    perspective: 1000px;
  }
  .transform-style {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}